/* .navigation {
  
} */
.navigationList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navigationItem {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
