.HomePage {
  margin: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.2),
      rgba(47, 48, 58, 0.3)
    ),
    url(/public/stickies.jpg);
  height: 100vh;
  background-attachment: fixed;
}
.container {
  margin: 0;
  padding: 150px 50px;
  text-align: center;
}
.title {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: white;
  margin: 0 auto 40px;
  text-align: center;

  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  max-width: 360px;
  font-size: 35px;
  font-weight: 900;
  line-height: 1.36;
  max-width: 696px;
}
.text {
  color: white;
  font-size: 25px;
  text-align: center;
  justify-content: center;
}
